.login-wrap {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: 100;
  .login {
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 280px;
    border: 1px solid #e1e1e1;
    box-shadow: 1px 1px 4px #fff;
    box-sizing: border-box;
    border-radius: 20px;
  }
  
  .login-title {
    margin-top: 30px;
    color: #e35748;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  input {
    display: block;
    margin: 10px auto;
    padding: 0 1rem;
    width: 75%;
    height: 2rem;
    color: #888;
    outline: 0;
    border: none;
    border-radius: 1rem;
    background-color: #cacaca;
  }
  
  .login-input {
    cursor: pointer;
    padding: 0 1rem;
    height: 2rem;
    font-size: 15px;
    line-height: 2rem;
    outline: none;
    color: #fff;
    background-color: #e35748;
    border-radius: 1rem;
    text-align: center;
  }
  
  .sign-con {
    width: 85%;
    margin: 1rem auto;
    text-align: right;
  }
  
  .change {
    cursor: pointer;
    font-size: 10px;
    color: #e35748;
  }
  
  .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 2rem;
    text-align: right;
    background-color: #e35748;
    color: #fff;
    border-radius: 0 0 1rem 1rem;
    border: 0;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px #e35748;
  }
}

.github{
  position: fixed;
  top: 10px;
  right: -40px;
  width: 120px;
  height: 30px;
  background-color: #3db8c1;
  transform: rotate(45deg);
  z-index: 101;
  a{
    color: #000;
  }
  i{
    font-size: 29px;
    position: fixed;
    top: -6px;
    right: 51px;
    z-index: 101;
    cursor: pointer;
    &:hover{
      transform: scale(1.05, 1.05)
    }
  }
}



