.tag{
  max-width: 600px;
  margin: 0px auto;
  padding: 0 30px 50px;
  position: relative;
  .tag-item{
    margin: 35px 0;
    padding-left: 2rem;
    border-left: 1px solid #e6e6e6;

    .catalog-contaier {
      align-items: cneter;
      img {
        width: 1.5rem;
        height: 1.5rem;
      }
      
      .catalog {
        padding: .5rem;
        color: #707070;
        font-size: 1.5rem;
        margin-right: .5rem;
      }

    }
    .checkbox {
      width: 0;
      height: 0;
      opacity: 0;
    }
    .article-list{
      display: none;
      margin-top: 10px;
      li{
        cursor: pointer;
        position: relative;
        border-bottom: 1px solid #e6e6e6;
        padding: 20px 0px;
        .list-container {
          width: 50%;
          margin: 3rem auto;
          padding: 1rem 2rem;
          border: 3px solid #bfbfbf;
          border-radius: 1rem;
        }
        
        .artical-title {
          margin-bottom: 1rem;
          color: #707070;
          font-size: 2rem;
          text-align: left;
        }
        
        .list-bottom-container {
          text-align: left;
  
          div {
            display: inline-flex;
            align-items: center;
            margin-right: 1rem;
          
            img {
              width: 1rem;
              height: 1rem;
              margin-right: .5rem;
            }
          }
        }
  
        .list-bottom-container:last-child {
          margin-right: 0;
        }
      }
    }
  }
  
}

.checkbox:checked + ul {
  display: block !important;
}

// 如果屏幕小于768px
@media screen and (max-width: 768px) {
  .tag{
    padding-top: 75px;
    .tag-item{
      .tag-name{
        font-weight: 500;
      }
      .article-list{
        li{
          padding: 15px 0;
          h3{
            position: static;
            padding: 5px 0;
            margin: 0 0 0 10px;
          }
          h2{
            margin-left: 10px;
            font-size: 15px;
          }
        }
      }
    }
  }
}