<div class="top-bar">
  <!-- <div class="header">
    <div class="container">
      <div class="callbacks_container">
        <h2>{{ blogName || "XXX's Blog" }}</h2>
        <p>欢迎</p>
      </div>
    </div>
  </div> -->
  
  <div class="top-nav">
    <div class="left-con">
       {{ blogName || "XXX's Blog" }}
    </div>
    <ul>
      <li (click)="search()">
        <a [routerLink]="['/search']" routerLinkActive="router-active">
          Search
        </a>
      </li>
      <li (click)="tag()">
        <a [routerLink]="['/tag']" routerLinkActive="router-active">
        Tags
        </a>
      </li>
      <li (click)="list()">
        <a [routerLink]="['/home']" routerLinkActive="router-active">
          Home
        </a>
      </li>
      <li (click)="about()">
        <a [routerLink]="['/about']" routerLinkActive="router-active">
          About
        </a>
      </li>
      <li (click)="link()">
        <a [routerLink]="['/link']" routerLinkActive="router-active">
          link
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  .
</div>