<div class="login-wrap">
  <div class="login">
    <div class="sign-in-con">
      <p class="login-title">资料修改</p>
      <!-- <input type="text" class="login-name" placeholder="username" [(ngModel)]="name"> -->
      <input type="password" class="login-pwd" placeholder="password" (keydown.enter)="login()" [(ngModel)]="pwd">
      <input type="text" placeholder="请输入博客名称" [(ngModel)]="blogname">
      <input type="text" placeholder="github 地址" [(ngModel)]="github">
      <input type="text" placeholder="电子邮件" [(ngModel)]="email">
      <input type="text" placeholder="电话" [(ngModel)]="phone">
      <div class="sign-con">
        <button type="submit" class="login-input" (click)="login()">提交更改</button>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
    <!-- <div class="case-number">tips 账号:test 密码: 123456</div> -->
</div>