<div class="latest-articles">
  <div id="contact" class="text-center">
    <div class="container text-center">
      <div class="col-md-4">
        <h3 class="sortSelection" (click)="sortByPv()">点击率</h3>
        <div class="contact-item">
          <p>按照点击率降序排序</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="sortSelection" (click)="sortByTime()">时间</h3>
        <div class="contact-item">
          <p>按照时间降序排序</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="sortSelection" (click)="sortByUv()">点赞量</h3>
        <div class="contact-item">
          <p>按照点赞量降序排序</p>
        </div>
      </div>
    </div>
  </div>
  <ul class="articles-list">
    <li *ngFor="let item of articleList" class="list-container" (click)="viewArticle(item)">
      <div class="artical-title">{{item.title}}</div>
      <div class="list-bottom-container">
        <div class="time-container">
          <img src="../../../assets/clock.png" alt="时间："> {{item.date | date:"yyyy-MM-dd"}}
        </div>
        <div class="catalog-container">
          <img src="../../../assets/catalog-grey.png" alt="标签：">
          <span class="catalog">{{item.label}}</span>
        </div>
        <div class="hot-container">
          <img src="../../../assets/hot.png" alt="标签：">
          <span class="hot">{{item.pv || 0}}</span>
        </div>
        <div class="like-container">
          <img src="../../../assets/like-grey.png" alt="点赞：">
          <span class="like">{{item.uv || 0}}</span>
        </div>
      </div>
    </li>
  </ul>
</div>
