.latest-articles{
  max-width: 600px;
  margin: 0px auto;
  padding: 0 30px 50px;
  position: relative;
  .articles-list{
    li{
      position: relative;
      padding: 30px 0 30px;
      border-bottom: 1px solid #e6e6e6;
      .list-container {
        width: 50%;
        margin: 3rem auto;
        padding: 1rem 2rem;
        border: 3px solid #bfbfbf;
        border-radius: 1rem;
      }
      
      .artical-title {
        margin-bottom: 1rem;
        color: #707070;
        font-size: 2rem;
        text-align: left;
      }
      
      .list-bottom-container {
        text-align: left;
        
        div {
          margin-right: 1rem;
          display: inline-flex;
          align-items: center;
        
          img {
            width: 1rem;
            height: 1rem;
            margin-right: .5rem;
          }
        }
      }

      .list-bottom-container:last-child {
        margin-right: 0;
      }
    }
  }
  
}

// 如果屏幕小于768px
@media screen and (max-width: 768px) {
  .latest-articles{
    padding: 5vw 10vw;
    margin: 0;
    width: 80vw;
    padding-top: 75px;
    padding-bottom: 40px;
    .articles-list{
      li{
        margin: 10px 0;
        padding: 18px 0 20px;
        h3{
          font-size: 13px;
          color: #999;
          font-size: 12px;
          position: static;
          margin-bottom: 10px;
        }
        h2{
          font-size: 16px;
          margin-left: 0;
          color: #444;
          font-weight: 400;
          letter-spacing: 1px;
        }
        
      }
    }
  }
}

#contact {
	padding: 100px 0;
}
#contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-md-4 {
  display: inline-block;
  width: 30%;
  text-align: center;
}
#contact .contact-item p {
	font-size: 15px;
	color: #777;
}
#contact .section-title {
	margin-top: 60px;
	margin-bottom: 40px;
}
#contact form {
	padding: 0;
}
#contact h3 {
  cursor: pointer;
	position: relative;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	color: #333;
	padding: 20px 0;
}
#contact h3::after {
	position: absolute;
	content: "";
	background: #d43031;
	height: 2px;
	width: 40px;
	bottom: 0;
	margin-left: -20px;
	left: 50%;
}
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: rgba(255,255,255,.2);
	background-image: none;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
} 
.form-control::-webkit-input-placeholder {
color: #999;
}
.form-control:-moz-placeholder {
color: #999;
}
.form-control::-moz-placeholder {
color: #999;
}
.form-control:-ms-input-placeholder {
color: #999;
}
#contact .contact-item {
	margin: 20px 0 40px 0;
}
#contact .contact-item span {
	font-weight: 400;
	color: #aaa;
	text-transform: uppercase;
	margin-bottom: 6px;
	display: inline-block;
}